# Virtual environment
venv/

# Python cache
__pycache__/
*.py[cod]

# Environment variables and secrets
.env
.env.*

# Coverage
.coverage
htmlcov/

# IDE
.vscode/

# Logs
*.log

# Database files
*.sqlite3

# OS files
.DS_Store
Thumbs.db

# Git
.git/

# Temporary files
*.tmp
submission/
